@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model LastguyShop.Models.Product.ManageProduct
@{
}
<div style="margin-bottom:20px">
    <h4>จัดการสินค้า</h4>
</div>
<div class="card rounded">
    <div class="card-body">
        <form action="InsertAction" method="post">
            <div class="card rounded">
                <div class="card-body">
                    <label>ชื่อสินค้า</label>
                    <input class="form-control" type="text" asp-for="productName" placeholder="ชื่อสินค้า" value="@Model.productName"/>

                    <label>ราคา</label>
                    <input class="form-control" type="text" asp-for="price" placeholder="ราคา" />

                    <label>จำนวนคงเหลือ</label>
                    <input class="form-control" type="text" asp-for="totalAmount" placeholder="จำนวนคงเหลือ  />

                    <label>หน่วยสินค้า</label>
                    <input class="form-control" type="text" asp-for="unit" placeholder="หน่วยสินค้า" />

                    <label>รายละเอียด</label>
                    <input class="form-control" type="text" asp-for="description" placeholder="รายละเอียด" />

                    <label>หมายเหตุ</label>
                    <input class="form-control" type="text" asp-for="note" placeholder="หมายเหตุ" />
                </div>
            </div>
            <div class="card rounded">
                <div class="card-body">
                    <label>ชื่อร้านค้า</label>
                    <input class="form-control" type="text" asp-for="supplierName" placeholder="ชื่อร้านค้า" />

                    <label>ชื่อผู้ติดต่อ</label>
                    <input class="form-control" type="text" asp-for="contactName" placeholder="ชื่อผู้ติดต่อ" />

                    <label>เบอร์โทร</label>
                    <input class="form-control" type="text" asp-for="phoneNumber" placeholder="เบอร์โทร" />

                    <label>ที่อยู่</label>
                    <input class="form-control" type="text" asp-for="address" placeholder="ที่อยู่" />

                    <label>LineID</label>
                    <input class="form-control" type="text" asp-for="lineId" placeholder="LineID" />

                    <label>วันทำการ</label>
                    <input class="form-control" type="text" asp-for="workday" placeholder="วันทำการ" />

                    <label>เวลาทำการ</label>
                    <input class="form-control" type="text" asp-for="officeHours" placeholder="เวลาทำการ" />
                </div>
            </div>
            <div class="">
                    <button class="btn btn-primary" style="width:200px" type="submit">บันทึก</button>
                </div>
        </form>
    </div>
</div>