@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Modal -->
@*<div class="modal fade" id="historyModal" role="dialog">*@
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">ราคาย้อนหลัง</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn button-soft-gray" data-dismiss="modal">ปิด</button>
        </div>
      </div>
    </div>
 @* </div>*@