@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Example Module</h1>

<a class="nav-link text-dark" asp-area="" asp-controller="Common" asp-action="FileManagement"><h4>Upload File</h4></a>

<a class="nav-link text-dark" asp-area="" asp-controller="Common" asp-action="RegistrationMember"><h4>Register</h4></a>

<a class="nav-link text-dark" asp-area="" asp-controller="Common" asp-action="LogIn"><h4>LogIn</h4></a>

<a class="nav-link text-dark" asp-area="" asp-controller="Common" asp-action="BarCode"><h4>BarCode</h4></a>

@*<a class="nav-link text-dark" asp-area="" asp-controller="Common" asp-action="Index"><h4>LogOut</h4></a>*@
